---
---
{% set css %}
    {% include "style.css" %}
{% endset %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Vanilla JS Academy</title>        
        <style type="text/css">
            {{ css | cssmin | safe }}

            ol {
                display: inline-block;
                padding: 1rem 0;
                margin: 1.5rem;
            }

            li {
                margin-bottom: 1rem;
            }
        </style>
    </head>
    <body>
        <header>
            <h1>Vanilla Javascript Academy Projects</h1>
        </header>
        <main>
            {{ content | safe }}
        </main>
        <footer>
            <a href="https://github.com/karlyanelson/vanillajsacademy">View on Github</a>
        </footer>
    </body>
</html>