---
layout: layout_base.njk
---
<nav>
	<a href="/vanillajsacademy/">View All Projects</a>
</nav>

{{ content | safe }}

{% set curIndex = '' %}

{%- for project in collections.project -%}
	{% if page.url == project.url %}
		{% set curIndex = loop.index0 %}
	{% endif %}
{%- endfor -%}

{% set prevIndex = curIndex - 1 %}
{% set nextIndex = curIndex + 1 %}

<footer class="footer-project"> 
	{% if collections.project[prevIndex] %}<div class="footer-project-prev"><a  href={{ collections.project[prevIndex].url }}>Previous Project</a></div>{% endif %}
	{% if collections.project[nextIndex] %}<div class="footer-project-next"><a href={{ collections.project[nextIndex].url }}>Next Project</a></div>{% endif %}
</footer>