---
layout: layout_base.njk
---
<nav>
	<a href="/vanillajsacademy/">View All Projects</a>
</nav>

{{ content | safe }}

{% set previousProject = collections.project | getPreviousCollectionItem(page) %}
{% set nextProject = collections.project | getNextCollectionItem(page) %}

<footer class="footer-project"> 
	{% if previousProject %}<div class="footer-project-prev"><a  href={{ previousProject.url }}>Previous Project</a></div>{% endif %}
	{% if nextProject %}<div class="footer-project-next"><a href={{ nextProject.url }}>Next Project</a></div>{% endif %}
</footer>