:root {
    --color-bg: #EAEAEA;
    --color-txt: #1d1e22;
    --color-action: #0867b7;
    --color-focus: #3095ff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: #1d1e22;
        --color-txt: #EAEAEA;
        --color-action: #21adff;
    }
}

html {
    font-size: 20px;
}

body {
    background-color: var(--color-bg);
    color: var(--color-txt);
    max-width: 40rem;
    margin: 0 auto;
    padding: 1.5rem;
    font-family: "Lucida Console", Monaco, monospace;
}

input:focus, button:focus, a:focus, textarea:focus {
    outline: var(--color-focus) auto .25rem;
}

input, button, textarea {
    font-size: 1rem;
}

input {
    margin-bottom: 1.5rem;
}

input, textarea {
    background-color: var(--color-bg);
    color: var(--color-txt);
    padding: .5rem;
    border: 2px solid var(--color-txt);
}

input:focus,
input:active,
textarea:focus,
textarea:active {
    border-color: var(--color-action);
}

form {
    margin-bottom: 4rem;
}

input[type="text"],
input[type="password"],
textarea {
    width: 100%;
}

button {
    background-color: var(--color-action);
    color: var(--color-bg);
    padding: .5rem 1rem;
    border: none;
}

button:hover,
button:focus {
    opacity: .8;
}

a {
    color: var(--color-action);
    padding: .125rem;
}

a:hover,
a:focus {
    background-color: var(--color-action);
    color: var(--color-bg);
}

footer {
    border-top: 1px solid lightgray;
    padding: 1.5rem 0;
}

input {
    margin-bottom: 1rem;
}

.checkbox {
    position: relative;
}

.checkbox input {
    opacity: 0;
}

/* checkbox custom input style */
.checkbox label::before{
    content: "";
    display: inline-block;
    
    height: 1rem;
    width: 1rem;
    
    border: 2px solid var(--color-txt);

    top: .125rem;
    left: 0;
}

.checkbox input:focus + label::before {
    border-color: var(--color-action);
    outline: var(--color-focus) auto .25rem;
    /* outline: -webkit-focus-ring-color auto 5px; */
}

.checkbox input:checked + label::before {
    background-color: var(--color-action);
    border-color: var(--color-action);
}

/* checkbox custom checkmark */
.checkbox label::after {
    content: "";
    display: inline-block;
    height: .25rem;
    width: .5rem;
    border-left: 2px solid;
    border-bottom: 2px solid;
    border-color: var(--color-bg);
    
    transform: rotate(-45deg);

    left: .275rem;
    top: .5rem;
}

.checkbox label::before,
.checkbox label::after {
    position: absolute;
}

/*Hide the checkmark by default*/
.checkbox input[type="checkbox"] + label::after {
    content: none;
}
/*Unhide the checkmark on the checked state*/
.checkbox input[type="checkbox"]:checked + label::after {
    content: "";
}